body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #444;
    margin: 0 auto;
    width: 600px;
    background-color: #FFFDF9;
}

.container {
    padding: 20px;
    padding-bottom: 0px;
}

/* Popup HTML for all tabs */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

#header > h2 {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

#header > h4 { 
    margin-top: 0;
}

#header-xl {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
}

#header-s {
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    font-size: 28px;
    font-style: italic;
}

.icon {
    width: 34px;
    height: 34px;
    padding: 0px 5px;
}

.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: #7f7f7f;
    font-weight: lighter;
}

.flex {
    display: flex;
    flex-direction: column;
}

.required:after {
    color: #FF6846;
    content: '*';
}

.hidden {
    display: none;
}

/* TABS */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}

ul > li {
    display: inline-flex;
}

 ul > li >  a {
    text-decoration: none;
    color: #444;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.nav a:hover {
    color: #FF6846;
}

.nav .active a { 
    font-weight: bold;
    border-bottom: 2px solid #FF6846;
}

.tab-pane { 
    display: none;
}

.tab-pane.active { 
    display: block; 
}

/* Tab: Add a new resource - FORM */

label {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
}

select, input, textarea, button {
    border: 1px #7f7f7f7f solid;
    border-radius: 4px;
    padding: 10px;
}

textarea {
    resize: none;
    font-family: inherit;
}

#cleanListResources, button[type="submit"]{
    cursor:pointer;
    color: white;
    background-color: #FF6846;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.link {
    color: #FF6846;
    font-weight: bold;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

.options {
    display: none;
    flex-direction: column;
    overflow-y: scroll;
    height: 15vh;
}

#options-selected:focus + .options,
.options:hover {
    display: flex;
    background-color: white;
    border-radius: 4px;
    padding: 1px;
    border: 1px #7f7f7f7f solid;
}


#about-us {
    background-color: #FFDEA7;
    bottom: 0;
    right: 0;
    padding: 3px;
    width: 25%;
    font-weight: bolder;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#about-us > a {
    text-decoration: none;
    color: black;
}

/* TAB: My List */
.row {
    display: flex;
    border-bottom: rgba(127, 127, 127, 0.2) 1px solid;
}

.col {
padding: 1px;
overflow-wrap: break-word;
}

.row .col.sm {
width: 25%;
}

.row .col.md {
width: 50%;
}

.row + .row {
margin-top: 5px;
}

span.tag {
    background-color: #FFDEA7;
    border-radius: 4px;
    padding: 1px;
    color: #C8891E;
    font-weight: bold;
    display: inline-flex;
}

/* TAG Input */
.tag-field {
    display: flex;
    flex-flow: wrap;
    padding: 4px;
    border: 1px #7f7f7f7f solid;
    background-color: white;
    border-radius: 4px;
    align-items: center;
}

.without-tag .tag-field {
    display: block;
    width: 100%;
}

  
.tag-field input {
    border: 0;
    outline: 0;
    width: 100%;
}

.tag {
    display: flex;
    align-items: center;
    height: 35px;
    margin-right: 5px;
    padding: 0 8px;
    color: #C8891E;
    background: #FFDEA7;
    border-radius: 15px;
    cursor: pointer;
}
  
.tag-close {
    display: inline-block;
    margin-left: 0;
    width: 0;
    transition: 0.2s all;
    overflow: hidden;
}
  
.tag:hover .tag-close {
    margin-left: 10px;
    width: 10px;
}