body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #444;
    margin: 0 auto;
    width: 400px;
    padding: 2px;
}

/* Popup HTML for all tabs */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header > h2 {
    margin-bottom: 0;
}

#header > h4 { 
    margin-top: 0;
}

.icon {
    width: 17px;
    height: 17px;
    padding: 0px 5px;
}

.subtitle {
    font-style: italic;
    color: #7f7f7f;
    font-weight: lighter;
}

.flex {
    display: flex;
    flex-direction: column;
}

/* TABS */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
}

ul > li {
    display: inline-flex;
}

 ul > li >  a {
    text-decoration: none;
    color: #444;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.nav a:hover {
    color: #3267e2;
}

.nav .active a { 
    color: #3267e2;
    border-bottom: 2px solid #3267e2;
}

.nav .active a:hover {
    border-color: transparent;
    background: #3267e2;
    color: white;
}

.tab-pane { 
    display: none;
}

.tab-pane.active { 
    display: block; 
}

/* Tab: Add a new resource - FORM */
select, input, textarea, button {
    border: 1px #7f7f7f7f solid;
    border-radius: 5px;
}

#cleanListResources, button[type="submit"]{
    cursor:pointer;
    color: white;
    background-color: #3267e2;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: #3267e2;
    font-weight: bold;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

select[multiple]:focus option:checked {
    background:#3267e2 linear-gradient(0deg, #3267e2 0%, #3267e2 100%);
    color: white;
}

/* TAB: My List */
.row {
    display: flex;
    border-bottom: rgba(127, 127, 127, 0.2) 1px solid;
}

.col {
padding: 1px;
overflow-wrap: break-word;
}

.row .col.sm {
width: 25%;
}

.row .col.md {
width: 50%;
}

.row + .row {
margin-top: 5px;
}

span.tag {
    background-color: #16baa6;
    border-radius: 5px;
    padding: 1px;
    color: white;
    font-weight: bold;
    display: inline-flex;
}